<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>File Upload</title>
    </h:head>
    <h:body>
        <h3>Server push </h3>
        <h:form  enctype="multipart/form-data">
            <p><h:inputFile value="#{demoBean.file1}" style="width:400px;" /></p>

            <h:commandButton value="Загрузить" action="#{demoBean.upload()}"/>
        </h:form>
    </h:body>
</html>

